<%- include('../partials/header') %>

<div class="about-page">
  <div class="about-flex">
    <img src="/images/darlene1.jpg" alt="me-page" />
    <div class="about-info">
      <h1>About me</h1>
      <p>
        Hi! I am Darlene and I will be your fabulous teacher. I am a very
        passionate teacher and I love teaching kids with interesting and useful
        stuffs that will help their development as they grow. Aside from
        teaching I am an a voracious reader and has a great love for old classic
        movies.
      </p>
      <div class="social-media">
        <a href="https://web.telegram.org/" target="_blank"><i class="fab fa-telegram-plane"></i></a>
        <a href="https://www.facebook.com/darlene.nacional.7"  target="_blank"><i class="fab fa-facebook-f"></i></i></a>
        <a href="https://www.instagram.com/cndarlncl/"  target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
  
</div>

<%- include('../partials/footer') %>
