<%- include('../partials/header') %>
    
<div class="homepage">
    <div class="container">
        <div class="midpart-home">
            <h1 class="welcome-banner">Welcome to DarTutorials</h1>
            <p class="welcome-message">Providing friendly approach teaching style for more effective learning.</p>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>