<%- include('../partials/header') %>
    
<div class="service-page">
    <div class="container">
        <div class="service-flex">
            <div class="service-info">
                <h1>Here’s How I Can Help</h1>
                <p>With years of proven teaching experience, I have come up with efficient strategies to help children learn
                   faster and develop good study habits. I am ready to share my knowledge and always looking forward to help any child 
                   to achieve excellence. Here are some services I offer and do:
                </p>
                <ul>
                    <li>One on one learning session via online or in person.</li>
                    <li>Planning fun interactive group activities for kids.</li>
                    <li>Writing and reading comprehension lectures including assignments.</li>
                    <li>Child learning assessment.</li>
                    <li>And much more.</li>
                </ul>
            </div>
           
            <img src="/images/ServiceImage.png" alt="service">
            
        </div>
        <div class="service-footer">
            <h4>For more questions:</h4>
            <p><i class="fas fa-phone"></i> +63-918-412-7672</p>
            <p><i class="fas fa-envelope"></i> darnacional@gmail.com</p>
        </div>
    </div>
</div>

<%- include('../partials/footer') %> 